.boxesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

.detailsWrapper {
    border: 2px solid #B4CDED;
    border-radius: 10px;
    padding: 1rem;

    img {
        max-width: 100%;
    }
}