.boxesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

.detailsWrapper {
    border: 2px solid #B4CDED;
    border-radius: 10px;
    padding: 1rem;

    img {
        max-width: 100%;
    }
    button {
        text-decoration: none;
        color: #fff;
        background-color: #f48c06;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
}

 .buttonsWrapper {
        display: flex;
        gap: 1rem;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
            background-color: #f48c06;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            font-size: 16px;
        }
        button{
            background-color: #f42a06;
            color: #fff;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
        }
    }