body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  section {
    margin: 0 auto;
    max-width: 90%;

    @media screen and (min-width: 1200px) {
      max-width: 1170px;
    }
  }
}