.searchBarWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 3;
    padding: 8px 16px;
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #B4CDED;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        gap: 16px;
    }

    .inputField {
        @media screen and (max-width: 991px) {
            width: 100%;
        }
    }

    .searchButton {
        background-color: #B4CDED;
        color: white;
        border-radius: 40px;
        /* margin-left: 8px; */
        width: 50%;

        &:hover {
            background-color: #1976d2;
        }

        @media screen and (min-width: 992px) {
            border-radius: 50%;
            width: 40px;
        }
    }
}

.searchResults {
    display: flex;
    flex-direction: column;
    gap: 16px;

    div {
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .sortButtons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 8px;

        @media screen and (max-width: 576px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        button {
            text-decoration: none;
            color: #fff;
            background-color: #f48c06;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    }
}