header {
    background-color: #B4CDED;
    margin-bottom: 2rem;  

    .headerWrapper {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 90%;

        @media screen and (min-width: 1200px) {
            max-width: 1170px;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                text-decoration: none;
                color: #f48c06;
                font-size: 18px;
                font-weight: 500;
            }

        }
    }
}